<div class="body-container">
  <div *ngIf="isRender">
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
    <div class="intersection-observer-container">
      <workspace-input *ngIfInViewElse="elementNotInView"></workspace-input>
    </div>
  </div>
</div>

<ng-template #elementNotInView>
  <div class="skeleton"></div>
</ng-template>

<div class="footer">
  <button class="render-button" (click)="isRender = true">render</button>
</div>
