<div class="body-container">
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>
  <workspace-input *ngIf="isRender"></workspace-input>

</div>
<div class="footer">
  <button class="render-button" (click)="isRender = true">render</button>
</div>
